* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    border-radius: 5px;
    width: 8px;
    height: 100%;
    background: #E1E1E3;
}
a {
    cursor: pointer;
    text-decoration: none;
}
body {
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    background: #FAFAFA;
    background-image: url('/public/images/back.svg');
    min-height: 100vh;
    user-select: text;
}
header {
    display: flex;
    justify-content: center;
    height: 72px;
    align-items: center;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
}
.header-content {
    width: 1220px;
    margin: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
    gap: 0px 12px;
}
.header-nav a {
    color: #1A1D2A;
    transition: 0.3s;
    opacity: 0.75;
}
.header-logo img {
    width: 100px;
}
.header-nav a:hover {
    opacity: 1;
}
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.line {
    width: 2px;
    background-color: rgba(26, 29, 42, 0.08);
    height: 22px;
}
button {
    background: #1A1D2B;
    border-radius: 8px;
    padding: 12px 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
}
button:hover {
    background: #2A2F43;
}
a.button {
    background: #1A1D2B;
    border-radius: 8px;
    padding: 12px 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
}
a.grey {
    background: #C8D1DA;
}
a.buttona:hover {
    background: #2A2F43;
}
.big-title {
    font-weight: 600;
    font-size: 49px;
    color: #1A1D2B;
    line-height: 98%;
}
.subtitle {
    margin-top: 24px;
    font-size: 17px;
    line-height: 140%;
    align-items: center;
    color: #1A1D2B;
    opacity: 0.75;
}
.small-title {
    color: #1A1D2B;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 98%;
}
.content {
    width: 100%;
    margin-top: 72px;
    background-color: #fff;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}
.form {
    display: flex;
    flex-direction: column;
    gap: .9rem;
    padding: 3rem 0;
    
}
.form-inline {
    display: flex;
    gap: .3rem;
}
.form-inline button {
    width: 300px;
}
.form-inline a {
    width: 150px;
}
.input {
    background: #FFFFFF;
    box-shadow: 0px 0px 1px 0.5px rgba(150, 150, 150, 0.35);
    border-radius: 10px;
    padding: 11px 16px;
}
input {
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 100%;
    outline: none;
    font-size: 18px;
    line-height: 120%;
    color: #1A1D2B;
}
.error {
    background: rgba(236, 45, 45, 0.12);
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 15.5px;
    line-height: 135%;
    color: #EC2D2D;
}
.profile {
    text-align: center;
}
.profile .avatar {
    margin-top: 8px;
    margin-bottom: 9px;
}
.profile .subtitle {
    margin-top: 10px;
}
.statistic {
    margin: 0 20px;
}
.statistic-block {
    border-radius: 14px;
    background: #FFF;
    margin-top: 30px;
    padding: 24px;
    box-sizing: border-box;
}
.statistic-wrapper {
    margin-top: 24px;
    display: flex;
    width: 100%;
    gap: 12px;
}
.statistic-info {
    width: 49.2%;
    border-radius: 12px;
    background: #FAFAFA;
    padding: 18px;
    height: 105px;
    display: flex;
    align-items: center;
}
p.info {
    color: #1A1D2B;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}
p.text {
    color: #1A1D2B;
    font-size: 14.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    max-width: 120px;
    opacity: 0.75;
}

.games {
    margin: 5rem 20px;
}
.games-block {
    border-radius: 14px;
    background: #FFF;
    margin-top: 30px;
    padding: 24px;
    box-sizing: border-box;
}
.games-wrapper {
    margin-top: 24px;
    display: flex;
    width: 100%;
    gap: 12px;
}
.games-info {
    
    width: 400px;
    border-radius: 12px;
    background: #FAFAFA;
    padding: 18px;
    height: 200px;
    display: flex;
    align-items: center;
    transition: .3s;
    cursor: pointer;
    background-position: right;
    background-repeat: no-repeat;

    
}
.games-info:hover {
    background: #E7E7E8;
    /* transform: scale(1.01, 1.01); */
    transition: .3s;
}
.block-dice {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
}
.buttons {
    display: flex;
    gap: .3rem;
}
.dices {
    display: flex;
    gap: .3rem;
}
.dices img {
    width: 150px;
}
.game-wrapper {
    display: flex;
    width: 100%;
    height: min-content;
    text-align: center;
    box-shadow: 0px 0px 1px 0.5px rgba(150, 150, 150, 0.35), 0px 4px 8px 0px rgba(0, 0, 0, 0.02);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    padding: 3rem;
}
.left-wrapper {
    display: flex;
    flex-direction: column;
    gap: .9rem;
    padding: 4rem 3rem;
    background: #E1E1E3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 700px;
}
.right-wrapper {
    padding: 3rem;
    background: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}